/**ne pas toucher, barre de défilement**/
*{
    scrollbar-width: thin;
    scrollbar-color: #DE7DCA #01012B;
}
/****/


body{
  background-color:#01012B;
}

/* -------------------- BANNIERE ---------------------- */

.zone-jeux{
  width :70%;
  margin :auto;
}

.sous-titre{
  color: white;
  font-family: "kanit", sans-serif;
  font-size: 1em;
  margin: 4em auto;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  padding: 10px 0;
  text-align: center;
  background: linear-gradient(to right, #dd4ded, #89e5fa);
}

figcaption{
  text-transform: uppercase;
}

/* -------------------- Calendrier ---------------------- */

.zone-principale{
  width:70%;
  margin:auto;
}

.calendrier{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "horaire details"
    "button-cal button-cal";
    color: white;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.calendrier h2{
    color: #01012B;
}

.espace{
display:flex;
align-items:center;
justify-content :space-between;
}

.espace p{
  border:2px solid;
  padding : 8px;
  margin:0 15px 0 0;
}

h2{
  color: white;
    font-size: 2rem;
    margin: 0;
    text-transform: uppercase;
    font-weight: 400;
}

.horaire-cal{
    grid-area: horaire;
    display: grid;
    justify-content: center;
    background-color: white;
    align-items: center;
    height: 100%;
    color: #01012B;
    font-size: 2em;
    font-family: "inter", sans-serif;
    display:flex;
    flex-direction:column;
}

.horaire-cal span{
  text-align :center;
}

.details-cal{
    grid-area: details;
    display: grid;
    padding: 5% 0 5% 5%;
    background-color: white;
    color: #01012B;
}

.details-cal .vs img{
    padding: 0;
    height: 80px;
    object-fit: contain;
    border: 2px solid ;
}

.pays{
  display :flex;
  flex-direction:column;
  align-items : center;
}

.pays p{
  margin :10px 0 0 0;

}

.vs{
    display: flex;
    align-items: center;
    gap: 30px;
}

div .button-cal{
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;

}



/* -------------------- Épreuve ---------------------- */
.bloc-jeu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0 auto;
  color: white;
  text-align: center;
  padding-bottom: 5%;
}

.bloc {
  position: relative;
  border: solid 4px #89E5FA;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  overflow: hidden;
}

.bloc img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  transition: transform 1s ease;
}

.bloc a {
  font-family: "jersey 25";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 3;
}

a{
  text-decoration: none;
}

.bloc span{
  font-size: 2em;
  font-family: "arial";
  z-index: 3; /* Texte au-dessus de l'image */
  color: white;
  transition: transform 1s ease;
  text-transform: uppercase;
}

.bloc .filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #01012B;
  opacity: 0.5;
  z-index: 2;
  transition: transform 1s ease;
}


/* -------------------- Épreuve animation ---------------------- */
.bloc:hover img{
  transform: scale(1.3);

}

.bloc:hover span{
  color: transparent;
}

.bloc:hover .filter{
  background-color: transparent;
}


/* -------------------- Détails des épreuves ---------------------- */


.zone-jeux p, .zone-jeux ul li{
  color: white;
  font-size: 1.25rem;
  padding: 10px 0 10px 0;
}

.zone-jeux ul{
  list-style-type: decimal;
}

.zone-jeux .note{
  font-size : 1rem;
}

.zone-jeux p:last-child{
  padding: 0 0 50px 0;
}